@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-main: #0e0e0e;
    --bg-sc: #111111;
    --bg-tr: #1b1b1b;
    --hg: #242424;
    --hg-sc: #292929;
    --fg: #dfdfdf;
    --fg-sc: #5a5a5a;
    --rm-fg: rgb(255, 60, 60);
    --rm-bg: rgba(255, 0, 0, 0.13);
}

/* GENERAL */
html, body {
    font-family: "Inter", system-ui, -apple-system, Roboto, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--bg-main);
    color: var(--fg);
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

header {
    width: 100%;
    height: fit-content;
    background-color: var(--hg);
    display: flex;
    padding: 15px;
}

h1 {
    font-size: large;
    color: var(--fg-sc);
}

p {
    margin: 0;
    font-size: small;
}

input {
    background-color: var(--bg-sc);
    border: 1px solid var(--hg);
    color: var(--fg-sc);
    padding: 10px;
    width: 40%;
    transition: all 0.2s ease;
}

input:focus {
    border: 1px solid var(--hg-sc);
    background-color: var(--bg-tr);
    color: var(--fg);
    outline: none;
}

button {
    cursor: pointer;
    background-color: var(--bg-sc);
    border: 1px solid var(--hg);
    color: var(--fg-sc);
    padding: 10px;
    transition: all 0.1s ease;
}

button:hover {
    background-color: var(--bg-tr);
    border: 1px solid var(--hg-sc);
    color: var(--fg);
}

hr {
    margin: 20px 0 20px 0;
    border: 0;
    border-top: 1px solid var(--hg)
}

/* IDs */
#general-options-list {
    list-style-type: none;
    padding: 0;
    gap: 3px;
}

#listening-channels-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 20px 0 20px 0;
    list-style-type: none;
    outline: 1px solid var(--hg);
    max-width: 100%;
}

#listening-channels-list > li {
    padding: 15px;
    background-color: var(--bg-sc);
    outline: 1px solid var(--hg);
    cursor: pointer;
    color: var(--fg-sc);
    user-select: none;
    transition: all 0.2s ease;
}

#listening-channels-list > li:hover {
    background-color: var(--rm-bg);
    color: var(--rm-fg);
}

#connection-info {
    gap: 10px;
}

#messages-wrapper {
    display: flex;
    flex-direction: column;
}

#mail-container {
    height: 10%;
    background-color: var(--bg-sc);
    padding: 20px 20px 0 20px;
}

#mail-wrapper > input {
    background-color: var(--bg-main);
}

#mail-wrapper > input:focus {
    background-color: var(--bg-tr);
}

#emit-message-button {
    border-radius: 0 20px 20px 0;
}

#messages-list {
    width: 700px;
    height: 800px;
    padding: 20px;
    margin: 0;
    background-color: var(--bg-sc);
    list-style-type: none;
    overflow-y: auto;
}

#messages-list > li {
    max-width: 60%;
    min-width: 30%;
    width: fit-content;
    outline: 1px solid var(--hg);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 18px;
    background-color: var(--bg-main);
}

#messages-list > li > hr {
    margin: 5px 0 5px 0;
}

#messages-list > li > h1 {
    margin: 0;
}

#connection-info > p {
    display: flex;
    align-items: center;
}

/* UTILS */
.icon{
  width: 40px;
  height: 40px;
  background-color: var(--fg);
  mask: url("./icon.svg") no-repeat center / contain;
  -webkit-mask: url("./icon.svg") no-repeat center / contain;
}

.horizontal-aligned {
    display: flex;
    justify-content: center;
}

.vertical-aligned {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-readonly {
    cursor: default;
    user-select: none;
}

.text-bold {
    font-weight: bold;
}

.half-second-transition {
    transition: all 0.5s ease;
}

.outline {
    outline: 1px solid var(--hg)
}

/* CUSTOM OPTIONS CLASSES */
.options-switcher {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options-switcher > div {
    width: 30px;
    height: 20px;
    outline: 1px solid var(--fg-sc);
    display: flex;
    align-items: center;
    padding: 2px;
}

.options-switcher > div > div {
    width: 50%;
    height: 100%;
    background-color: var(--fg-sc);
}

[data-activated="true"] > div > div {
    margin-left: auto;
    background-color: var(--fg);
}

[data-activated="true"] > div {
    outline: 1px solid var(--fg);
}

[data-activated="false"] {
    color: var(--fg-sc);
}